.contador {
    font-family: Arial, sans-serif;
    background-color: #434643;
    border: 1px solid #806de1;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 100px; 
    position: fixed;
    bottom: 5px; 
    left: 10%;
    transform: translateX(-80%); 
    z-index: 1000; 
    color: white; 
}

.contador h3 {
    margin: 0;
    font-size: 14px;
    color: white; 
}

.contador .count {
    font-size: 20px;
    font-weight: bold;
    color: white; 
    margin-top: 8px;
}

.btn-increment {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
